﻿@model ParnicaV2.ViewModels.UsersViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
    @foreach (var item in ViewBag.Roles)
    {
       <div>
                @Html.DisplayFor(modelItem => item) 

    </div>
    }

</div>
<p>
    @if (this.User.IsInRole("Admin"))
    { 
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id }) 
        @Html.ActionLink("Back to List", "Index");
    }
</p>
