﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Litigations app", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ if (this.User.IsInRole("Admin"))
                        {
                             <li>@Html.ActionLink("Procedure types", "Index", "ProcedureTypes")</li>
                             <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                             <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
                             <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                             <li>@Html.ActionLink("Users", "Index", "ApplicationUsers")</li>
                             <li>@Html.ActionLink("Litigations", "Index", "Litigations")</li>
                        }
                        else if (this.User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Parnice", "Index", "Litigations")</li>
                            } }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
