﻿@model ParnicaV2.ViewModels.LitigationViewModelDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Litigation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcedureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtroomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtroomNumber)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defendant)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defendant.FullName) |
            @Html.ActionLink("Details", "Details", "Contacts", new { id = Model.Defendant.Id },null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prosecutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prosecutor.FullName)  |
            @Html.ActionLink("Details", "Details", "Contacts", new { id = Model.Prosecutor.Id }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Judge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Judge.FullName) |
            @Html.ActionLink("Details", "Details", "Contacts", new { id = Model.Judge.Id }, null)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcedureType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureType)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Zaduzeni advokati")
            </th>
          
        </tr>
        @foreach (var item in Model.Lawyers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details","ApplicationUsers", new { id = item.Id },null) 
             
                 </td>
               
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    @Html.ActionLink("Back to List", "Index")
</p>
