﻿@model ParnicaV2.ViewModels.LitigationViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Litigation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.DateAndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateAndTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateAndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourtType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                Dictionary<string, string> d = new Dictionary<string, string>();
                d.Add("District", "District");
                d.Add("Family Violence", "Family Violence");
                d.Add("High", "High");
                d.Add("Appeal", "Appeal");
                d.Add("Coroners", "Coroners");

               @Html.DropDownListFor(model => model.CourtType, new SelectList(d,"Key", "Value", Model.CourtType), htmlAttributes: new { @class = "form-control" });
               @Html.ValidationMessageFor(model => model.CourtType, "", new { @class = "text-danger" });
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProcedureId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcedureId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProcedureId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourtroomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CourtroomNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CourtroomNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.LocationId, new SelectList(ViewBag.Lokacije, "Id", "Name", Model.LocationId), htmlAttributes:new  { @class="form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.JudgeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.JudgeId, new SelectList(ViewBag.Kontakti, "Id", "Name", Model.JudgeId), htmlAttributes:new  { @class="form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProcedureTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ProcedureTypeId, new SelectList(ViewBag.TipPostupka, "Id", "Name", Model.ProcedureTypeId), htmlAttributes:new  { @class="form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DefendantId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DefendantId, new SelectList(ViewBag.Kontakti, "Id", "Name", Model.DefendantId), htmlAttributes:new  { @class="form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProsecutorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ProsecutorId, new SelectList(ViewBag.Kontakti, "Id", "Name", Model.ProsecutorId), htmlAttributes:new  { @class="form-control" })

        </div>
    </div>


    <div class="form-group">
        @Html.Label("Lawyers in Litigation", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBox("Advokati", new MultiSelectList(ViewBag.Advokati, "Id", "FullName"), htmlAttributes:new  { @class="form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Lawyers not in Litigation", htmlAttributes: new { @class = "c col-md-2" })
        <div class="col-md-10">
            @Html.ListBox("NeAdvokati", new MultiSelectList(ViewBag.NeAdvokati, "Id", "FullName"), htmlAttributes:new  { @class="form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
