﻿@model IEnumerable<ParnicaV2.ViewModels.LitigationViewModelList>

@{
    ViewBag.Title = "Index";

}

<h2>Litigations</h2>

<p>
    @Html.ActionLink("Calendar view", "Index", "Calendar",null, new { @class= "btn btn-default"})
    @Html.ActionLink("Create New", "Create",null, new { @class= "btn btn-default"})
</p>

@using (Html.BeginForm("Index", "Litigations", FormMethod.Get))
{
    <div class="form-actions">
        
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    Location: @Html.TextBox("SearchStrLoc", ViewData["locFilter"])
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    Procedure type:  @Html.TextBox("SearchStrProcType", ViewData["procTypeFilter"])
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    Court type:  @Html.TextBox("SearchStrCourtType", ViewData["courtTypeFilter"])
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    Judge: @Html.TextBox("SearchStrJudge", ViewData["judgeFilter"])
                </div>
            </div>         
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
   


}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcedureId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtroomNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtroomNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

